@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

header{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,36,1) 50%, rgba(0,0,0,1) 100%);
}

.logo{
    margin-left: 80px;
    color: aliceblue;
}

nav ul{
    display: flex;
    margin-right: 80px;
}

nav ul li{
    list-style: none;
    padding: 0 10px;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: aliceblue;
}

main{
    width: 100%;
    height: 650px;
}

.banner{
    width: 100%;
    height: 650px;
    background-image: url(/assets/portrait-young-african-american-man-with-vr-glasses.jpg);
    background-size: cover;
    background-position: center;
}

.bannerContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 150px;
    padding-left: 80px;
    padding-top: 325px;
}

.bannerContent h1{
    color: #9400CC;
    font-size: 2.9rem;
    padding-bottom: 20px;
}

.bannerContent p{
    color: aliceblue;
}

.bannerContent a{
    padding-top: 20px;
    text-decoration: none;
    color: aliceblue;
}



section{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,36,1) 50%, rgba(0,0,0,1) 100%);
}

.cardsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 350px;
    padding: 0 80px;
}

.card{
    width: 290px;
    height: 350px;
}

.imageBox{
    height: 175px;
    background-image: url(/assets/sl_021422_48550_16.jpg);
    background-size: cover;
    background-position: center;
}

.textBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 175px;
    padding: 0 20px;
    background: aliceblue;
}

.textBox a{
    text-decoration: none;
    color: darkorange;
    text-transform: uppercase;
    font-size: 13px;
}

footer{
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.logoInfo{
    height: 200px;
    border: 1px solid;
}

.inputEmail{
    height: 200px;
    border: 1px solid;
}

.socialNetworks{
    height: 200px;
    border: 1px solid;
}